body {
  position: relative;
  background-color: #d7f7ff;
}
.form-style {
  margin-top: 100px;
  border-radius: 15px;
  /* background-color: #d7f7ff; */
  background-color: white;
  width: 450px;
}
.logo {
  height: 100px;
}
input {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border-color: #1ab5d7;
}
.button-style {
  color: black;
  border-radius: 20px;
  padding: 5px 20px;
  background-color: #a3e4f3;
  border-color: #1ab5d7;
}
.button-style:hover {
  opacity: 0.7;
}
.error {
  background: #f2dede;
  color: #a94442;
  padding: 10px;
  border-radius: 10px;
}
.blue-color {
  color: #1ab4d5;
}
